RewriteEngine On
RewriteBase /

# Si la solicitud no corresponde a un archivo o directorio existente,
# reescribe la URL para que Angular maneje la solicitud
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]